
<div class='recipe-list' width='100%'>

  {{#each recipes as |recipe|}}
   <!-- Developers, why are we using data-id and not just id? -->
  <div class='recipe{{recipe.id}} recipe'>
    <div class='recipe-card'> <small>Recipe Name: {{recipe.title}}</small></div>
    <div class='recipe-card-2'> <small>Recipe ID: {{recipe.id}}</small></div>
  <div class='recipe-container'>
  <div class='row' width='8000px'>
     <div class='col-sm-6 col-md-6 col-lg-6 clearfix' display='block'>
       <img class='recipe-image clearfix' height="150px" width="150px" src="http://i.imgur.com/dj5SOjp.jpg">
     </div>

     <div class='col-sm-6 col-md-6 col-lg-6' margin-left='40px' width='800px' float:'right'>
       <ul>{{{recipe.ingredient_list}}}</ul>
     </div>

  </div class='row'>
  <div width='25%' word-wrap='break-word' class='directions'>
       Directions:&nbsp;&nbsp;{{recipe.directions}} <br>
  </div>
       {{#if recipe.prep_time}}
       Prep Time:&nbsp;&nbsp;{{recipe.prep_time}}
       {{else}}
       {{/if}}

  </div>
  <hr>
</div>
  {{/each}}

</div>
