<ul>

  {{#each recipes as |recipe|}}
   <!-- Developers, why are we using data-id and not just id? -->
  <div class='recipe{{recipe.id}} recipe'>
    <h1> <small>Recipe Name: {{recipe.title}}</small></h1>
    <h2> <small>Recipe ID: {{recipe.id}}</small></h2>
  <div class='recipe-container'>
  <div class='row'>
     <div class='col-sm-4' width="50%">
       <img class='recipe-image' height="100px" width="100px" src="http://i.imgur.com/dj5SOjp.jpg">
     </div>

     <div class='col-sm-8' width="50%">
       <ul>{{{recipe.ingredient_list}}}</ul>
     </div>

  </div>
       Directions: {{recipe.directions}} <br>
       {{#if recipe.prep_time}}
       Prep Time: {{recipe.prep_time}}
       {{else}}
       {{/if}}

  </div>
  <hr>
</div>
  {{/each}}

</ul>
