<ul>

  {{#each recipes as |recipe|}}
   <!-- Developers, why are we using data-id and not just id? -->
  <div class='recipe{{recipe.id}} recipe'>
    <h1> <small>Recipe Name: {{recipe.title}}</small></h1>
    <h2> <small>Recpe ID: {{recipe.id}}</small></h2>
  <div>
    <ul class=“recipes”>

       <li>{{recipe.ingredient_list}}</li>
       <li>{{recipe.directions}}</li>
       {{#if recipe.prep_time}}
       <li>{{recipe.prep_time}}</li>
       {{else}}
       {{/if}}

    </ul>

  </div>
  <hr>
</div>
  {{/each}}

</ul>
