   <!-- Developers, why are we using data-id and not just id? -->

    <h1> <small>Recipe Name: {{recipe.title}}</small></h1>
    <h2> <small>Recpe ID: {{recipe.id}}</small></h2>
    <form class='recipe-update-form' id='recipe-update-form'>
      Recipe Title:
         <input type="text" class='form-format' name='recipe[title]' id="recipe-title-upate" value="{{recipe.title}}"><br>
      Recipe Ingredients:
         <input type="text" class='form-format' name='recipe[ingredient_list]' id="recipe-ingredients-upate" value="{{recipe.ingredient_list}}"><br>
      Recipe Directions:
         <textarea type="text" class='form-format direction-input' name='recipe[directions]' id="recipe-directions-update" >{{recipe.directions}}</textarea><br>
       {{#if recipe.prep_time}}
      Prep Time(optional):
         <input type="text" class='form-format '  name='recipe[prep_time]' id="recipe-preptime-input" value="{{recipe.prep_time}}"><br>
       {{else}}
       {{/if}}
       <input type="button" class='delete' id='{{recipe.id}}' value='delete'>
       <input type="submit" name='submit' class='recipeUpdate' id='{{recipe.id}}' value='update'>
   </form>
