   <!-- Developers, why are we using data-id and not just id? -->

    <h1> <small>Recipe Name: {{recipe.title}}</small></h1>
    <h2> <small>Recpe ID: {{recipe.id}}</small></h2>
    <div>
    <form class'recipe-form-{{recipe.id}}'>
     <ul class=“recipes”>

       <li class='ingredient_list{{recipe.id}}'>{{recipe.ingredient_list}}</li>
       <li class='ingredient_list{{recipe.id}}'>{{recipe.directions}}</li>
       {{#if recipe.prep_time}}
       <li>{{recipe.prep_time}}</li>
       {{else}}
       {{/if}}

       <input type="button" class='delete' id='{{recipe.id}}' value='delete'>
       <!-- <input type="button" class='edit' id='{{recipe.id}}' value='edit'>
       <input type="button" class='edit-recipe-submit' id='{{recipe.id}}' value='edit'> -->

     </ul>
   </form>
  </div>
  </div>
