   <!-- Developers, why are we using data-id and not just id? -->

    <h1> <small>Recipe Name: {{recipe.title}}</small></h1>
    <h2> <small>Recpe ID: {{recipe.id}}</small></h2>
    <form class='recipe-update-form' id='recipe-update-form'>
         <input type="text" name='recipe[title]' id="recipe-title-upate" value="{{recipe.title}}">


         <input type="text" name='recipe[ingredient_list]' id="recipe-ingredients-upate" value="{{recipe.ingredient_list}}">

         <input type="text" name='recipe[directions]' id="recipe-directions-update" value="{{recipe.directions}}">

       {{#if recipe.prep_time}}

         <input type="text" name='recipe[prep_time]' id="recipe-preptime-input" value="{{recipe.prep_time}}">

       {{else}}
       {{/if}}

       <input type="button" class='delete' id='{{recipe.id}}' value='delete'>
       <input type="submit" name='submit' class='recipeUpdate' id='{{recipe.id}}' value='update'>
   </form>
